<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  	<!-- DB로 전달되는 값 중 null이 있으면 에러가 아닌 NULL 자체로 인식 -->
  </settings>
  
  <typeAliases>
  	<typeAlias type="com.gaji.SingleBungle.findFriend.model.vo.FindFriend" alias="Friend" /> 
  	<typeAlias type="com.gaji.SingleBungle.findFriend.model.vo.FindFriendAttachment" alias="FriendAttachment" /> 
  			
  	<typeAlias type="com.gaji.SingleBungle.review.model.vo.Review" alias ="Review"/>
  	<typeAlias type="com.gaji.SingleBungle.review.model.vo.ReviewAttachment" alias ="ReviewAttachment"/>
  			 
  	<typeAlias type="com.gaji.SingleBungle.admin.vo.ABoard" alias="ABoard" />
  	<typeAlias type="com.gaji.SingleBungle.admin.vo.AAttachment" alias="AAttachment" />
  	
  	<typeAlias type="com.gaji.SingleBungle.board.model.vo.Board" alias="Board" />
  	<typeAlias type="com.gaji.SingleBungle.board.model.vo.BoardAttachment" alias="BoardAttachment" />
  	<typeAlias type="com.gaji.SingleBungle.board.model.vo.BoardLike" alias="BoardLike" />
  	
  	
  	<typeAlias type="com.gaji.SingleBungle.cafe.model.vo.Cafe" alias="Cafe" />
  	<typeAlias type="com.gaji.SingleBungle.cafe.model.vo.CafeAttachment" alias="CafeAttachment" />
  	<typeAlias type="com.gaji.SingleBungle.cafe.model.vo.CafeLike" alias="CafeLike" />
  	
  	
  	<typeAlias type="com.gaji.SingleBungle.member.model.vo.Member" alias="Member" />
  	

  	
  	<typeAlias type="com.gaji.SingleBungle.market.model.vo.Market" alias="Market" />       
  	<typeAlias type="com.gaji.SingleBungle.market.model.vo.MarketAttachment" alias="MarketAttachment" />
  	<typeAlias type="com.gaji.SingleBungle.market.model.vo.MarketLike" alias="MarketLike" />

  </typeAliases>
  
  <mappers>
  	<mapper resource="/mappers/friend-mapper.xml" />
  	<mapper resource="/mappers/board-mapper.xml" />
  	<mapper resource="/mappers/cafe-mapper.xml" />
  	<mapper resource="/mappers/market-mapper.xml" />
<!--   	<mapper resource="/mappers/market-mapper.xml" />  -->


  	<mapper resource="/mappers/review-mapper.xml"/>
  	
  	<mapper resource="/mappers/admin-mapper.xml" />
  	
  	<mapper resource="/mappers/member-mapper.xml" />

  </mappers>
</configuration>

