<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafeMapper">

 	<resultMap type="Cafe" id="cafe_rm">
		<id property="cafeNo" column="CAFE_NO" />

		<result property="cafeTitle" column="CAFE_TITLE" />
		<result property="cafeContent" column="CAFE_CONTENT" />
		<result property="createDate" column="CREATE_DT" />
		<result property="status" column="STATUS" />
		<result property="readCount" column="READ_COUNT" />
		<result property="cafeName" column="CAFE_NAME" />
		<result property="memberNo" column="MEM_NO" />
		<result property="categoryCode" column="CATEGORY_CD" />
		<result property="categoryName" column="CATEGORY_NM" />
		<result property="nickname" column="NICKNAME" />
		<result property="likeCount" column="LIKE_COUNT" />
	</resultMap>
	
	<resultMap type="CafeAttachment" id="attachment_rm">
		<id property="fileNo" column="FILE_NO" />
		
		<result property="filePath" column="FILE_PATH" />
		<result property="fileName" column="FILE_NAME" />
		<result property="cafeNo" column="CAFE_NO" />
	</resultMap>

  <!-- 특정 게시판 전체 게시글 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM V_CAFE
		WHERE STATUS = 'N'
	</select>
	
	<!-- 게시글 목록 조회 -->
	<select id="selectList" parameterType="_int" resultMap="cafe_rm">
	SELECT CAFE_TITLE, READ_COUNT, NICKNAME, CATEGORY_NM, CAFE_NO, LIKE_COUNT, CATEGORY_CD
	FROM V_CAFE
	WHERE STATUS = 'N'
	ORDER BY CAFE_NO DESC
	</select>
	
	<!-- 썸네일 목록 조회 -->
<!-- 	SELECT * FROM CAFE_FILE
	WHERE FILE_LEVEL = 0
	AND CAFE_NO IN 
	<foreach collection="list" item="cafe" open="(" close=")" separator=",">
		#{cafe.cafeNo}
	</foreach> -->
	
	<!-- 게시글 상세 조회 -->
	<select id="selectCafe" parameterType="Cafe" resultMap="cafe_rm">
		SELECT CATEGORY_NM, CAFE_TITLE, NICKNAME, CREATE_DT, 
					 CAFE_CONTENT, READ_COUNT, CAFE_NO, LIKE_COUNT, CATEGORY_CD
		FROM V_CAFE
		WHERE STATUS = 'N'
		AND CAFE_NO = #{cafeNo}
	</select>
	
	<!-- 게시글에 포함된 이미지 목록 조회 -->
	<select id="selectAttachmentList" parameterType="_int" resultMap="attachment_rm">
		SELECT * FROM CAFE_FILE
		WHERE CAFE_NO = #{cafeNo}
	</select>
	
	<!-- 게시글 조회 수 증가 -->
	<update id="increaseReadCount" parameterType="_int">
		UPDATE CAFE SET
		READ_COUNT = READ_COUNT + 1
		WHERE CAFE_NO = #{cafeNo}
	</update>
	
	<!-- 다음 게시글 번호 조회 -->
	<select id="selectNextNo" resultType="_int">
		SELECT SEQ_CNO.NEXTVAL FROM DUAL
	</select>
	
	<!-- 게시글 삽입 -->
	<insert id="insertBoard" parameterType="map">
	INSERT INTO CAFE VALUES 
	(#{cafeNo}, #{cafeTitle}, 
	 #{cafeContent}, DEFAULT, DEFAULT, DEFAULT, 
	 #{cafeName}, #{memberNo}, #{categoryCode})
  </insert>
  
  <!-- 게시글 삭제 -->
	<update id="deleteCafe" parameterType="cafe">
		UPDATE CAFE SET
		STATUS = 'Y'
		WHERE CAFE_NO = #{cafeNo}
	</update>
	
	<!-- 검색 게시글 수 조회 -->
  <select id="getSearchListCount" resultType="_int">
  		SELECT COUNT(*) FROM V_CAFE
  		WHERE STATUS = 'N'
  		
  		<if test="searchKey == 'title'">
  			AND CAFE_TITLE LIKE '%' || #{searchValue} || '%'
  		</if>
  		<if test="searchKey == 'titcont'">
  			AND ( CAFE_TITLE LIKE '%' || #{searchValue} || '%'
  			OR CAFE_CONTENT LIKE '%' || #{searchValue} || '%' )
  		</if>
  		<if test="searchKey == 'writer'">
  			AND NICKNAME LIKE '%' || #{searchValue} || '%'
  		</if>
  </select>  
  
  <!-- 게시글 검색 목록 조회 -->
  <select id="selectSearchList" resultMap="cafe_rm">
		SELECT CAFE_TITLE, READ_COUNT, NICKNAME, CATEGORY_NM, CAFE_NO, LIKE_COUNT, CATEGORY_CD
		FROM V_CAFE
		WHERE STATUS = 'N'

		<choose>
			<when test="searchKey == 'title'">
				AND CAFE_TITLE LIKE '%' || #{searchValue} || '%'
			</when>
			<when test="searchKey == 'titcont'">
				AND ( CAFE_TITLE LIKE '%' || #{searchValue} || '%'
						OR CAFE_CONTENT LIKE '%' || #{searchValue} || '%' )
			</when>
			<otherwise>
				AND NICKNAME LIKE '%' || #{searchValue} || '%'
			</otherwise>
		</choose>

		ORDER BY CAFE_NO DESC
	
	</select>

	<!-- 조회수 상위3 게시글 조회 -->
	<select id="cafeListTop3" resultMap="cafe_rm">
  	SELECT * FROM 
				     (SELECT ROWNUM RNUM, R.* FROM  
				          (SELECT * FROM V_CAFE 
				           WHERE STATUS='N' 
				           ORDER BY READ_COUNT DESC) R) 
    WHERE RNUM BETWEEN 1 AND 3
		ORDER BY READ_COUNT DESC
  </select>
	
</mapper>