<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewReplyMapper">

	   <resultMap type="ReviewReply" id="reviewReply_rm">
      <id property="replyNo" column="REPLY_NO"/>
      
      <result property="replyContent" column="REPLY_CONTENT"/>
      <result property="replyCreateDt" column="REPLY_CREATE_DT"/>
      <result property="replyStatus" column="REPLY_STATUS"/>
      <result property="replyDepth" column="REPLY_DEPTH"/>
      <result property="memNo" column="MEM_NO"/>
      <result property="nickName" column="NICKNAME"/>
      <result property="parentBoardNo" column="PARENT_BOARD_NO"/>
      <result property="parentReplyNo" column="PARENT_REPLY_NO"/>
   </resultMap>
   
   
   
   <!-- 댓글 목록 조회  -->
   <select id="selectReplyList" parameterType="_int" resultMap="reviewReply_rm">
   	SELECT * FROM V_BOARD_REPLY
      WHERE REPLY_STATUS = 'N'
      AND PARENT_BOARD_NO = #{parentBoardNo}
      AND PARENT_REPLY_NO IN ( SELECT REPLY_NO FROM V_BOARD_REPLY
                             WHERE REPLY_STATUS = 'N'
                             AND REPLY_DEPTH = 0
                             AND PARENT_BOARD_NO = #{parentBoardNo} )
      ORDER BY PARENT_REPLY_NO DESC
      <!-- 대댓글 아직 안함  -->
   </select>
	
	
	<!-- 댓글 삽입 -->
	<insert id="insertReply" parameterType="ReviewReply">
		INSERT INTO BOARD_REPLY
		VALUES(SEQ_BRNO.NEXTVAL, #{replyContent}, DEFAULT, DEFAULT, DEFAULT, #{memberNo}, #{parentBoardNo}, SEQ_BRNO.CURRVAL)
	</insert>
	

  	
  	

</mapper>